body {
  background-color: #66ccff;
}
.patientform{
  width: 400px;
  height: 500px;
}
.center {
	margin: auto;
	width: 60%;
    padding: 10px;
}
.smargin{
	margin: 10dp;
}
#bGroup{
	max-width: 257px;
}
